@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-size: 16px;
    margin: 0;
}
h1{
    color: #2a2929aa;
    font-size: 3.2rem;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}
span , .body-main{
    font-size: 1.4rem;
}
.heading-address , .heading-phone , .heading-email , .body-title{
    color: #2a2929aa;
    font-weight: 500;
}
.body-main .body-title span{
    font-size: 1.5rem;
    padding-left: 0.7rem;
}
.body-main .body-title{
    margin-top: 2rem;
    font-size: 1.5rem;
    padding-left: 2rem;
}
.body_search{
    margin-top: 1.5rem;
    margin-left: 2rem;
}
.bar_search .ip_btn input {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
.bar_search{
    display: flex;
}
.bar_search .btn_sear .btn_search{
    font-size: 1rem;
    
}
.bar_search .btn_sear button {
    padding: 0.5rem 1rem 11px 5px;
    border: none;
    background-color:#5C95C5 ;
    border-radius: 0px 8px 8px 0px;
    color: #ddd;
    font-weight: 600;

}